<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/navbar') %> 
    <header class="py-10">
      <h1 class="text-gray-950 text-center font-bold text-5xl"><%= title %></h1>
    </header>
    <main>
      <div class="max-w-5xl mx-auto flex flex-col gap-6 items-center justify-center md:flex-row md:items-start md:flex-wrap">
        <% categories.forEach(category => { %>
          <a href="<%= category.url %>"> 
            <div class="bg-gray-100 w-80 p-4 rounded-md">
              <h2 class="text-4xl text-gray-950 text-center"><%- category.name %></h2>
              <p class="text-gray-900"><%- category.description %> </p>
            </div>
          </a>
        <% })%>
      </div>
      <div class="max-w-5xl mx-auto flex justify-center pt-10">
        <a href="/category/create" class="block px-3 py-4 border-2 border-gray-900 rounded-lg hover:scale-105">Create Category</a>
      </div>
    </main>
  </body>
</html>
