<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/navbar') %> 
    <header class="py-10">
      <h1 class="text-zinc-950 text-center font-bold text-5xl"><%= title %></h1>
    </header>
    <main>
      <div class="max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-3 md:justify-center md:justify-items-center gap-4">
        <% categories.forEach(category => { %>
          <a href="/category/<%= category.slug %>" class="h-full bg-white w-80 p-4 rounded-md border border-zinc-950/15"> 
            <div class="flex flex-col gap-2">
              <h2 class=" text-zinc-950 text-center text-mobh3 lg:text-deskh3 font-semibold"><%- category.name %></h2>
              <p class="text-zinc-900"><%- category.description %> </p>
            </div>
          </a>
        <% })%>
      </div>
      <div class="max-w-5xl mx-auto flex justify-center pt-10">
        <a href="/category/create" class="block px-6 py-2 bg-emerald-700 text-white text-xl font-semibold rounded-lg hover:scale-105">Create Category</a>
      </div>
    </main>
  </body>
</html>
