<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>
    <header class="py-10">
      <h1 class="text-gray-950 text-center text-mobh1 lg:text-deskh1">
        <%= title %>
      </h1>
      <p class="text-center">Welcome to <%= title %>
      </p>
    </header>
    <main class="max-w-5xl mx-auto flex flex-col md:flex-row justify-between px-8 gap-8">
      <div class="">
        <h2 class="text-mobh2 mb-4 lg:text-deskh2">Categories</h2>
        <ul class="list-none list-inside">
          <% categories.forEach( category=> { %>
            <li>
              <a href="/category/<%- category.slug %>" class="underline text-zinc-900">
                <%= category.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>
      <div>
        <h2 class="mb-4 text-mobh2 lg:text-deskh2">Products</h2>
        <ul class="flex flex-col gap-6">
          <% products.forEach( product=> { %>
            <li class="max-w-[426px] w-full flex flex-col items-start gap-4 border border-zinc-950/15 rounded-md p-4">
              <a href="/product/<%= product.slug %>" class="text-mobh6 lg:text-deskh6">
                <%= product.name %>
              </a>
              <div class="flex justify-between gap-4 w-full">
                <p class="">ID: <%= product.id %></p>
                <p class="text-green-700 text-mobsmp lg:text-desksmp"><%= product.in_stock %> in Stock</p>
              </div>
            </li>
            <% }); %>
        </ul>
      </div>
    </main>
</body>
</html>