<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/navbar') %> 
    <header class="py-10 max-w-3xl mx-auto px-8">
      <h1 class="text-gray-950 text-left text-5xl pb-2"><%= product.name %></h1>
      <p class="text-xl">Category: <%= product.category.name %></p>
    </header>
    <main class="max-w-3xl mx-auto flex flex-col justify-between px-8 pb-10 gap-8">
      <p><%- product.description%></p>
      <div>
        <p class="text-4xl text-gray-950">$<%= product.price %></p>
        <p class="text-gray-700"><%= product.inStock %> left in stock.</p>
      </div>
      <div class="flex flex-col gap-4 justify-center items-center md:flex-row">
        <a href="<%- product.url%>/edit"class="block px-3 py-4 border-2 border-gray-900 rounded-lg hover:scale-105">Edit Product</a>
        <a href="<%- product.url%>/delete"class="block px-3 py-4 border-2 border-red-500 bg-red-500 text-gray-50 rounded-lg hover:scale-105">Delete Product</a>
      </div>
    </main>
  </body>
</html>
