<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/navbar') %> 
    <header class="py-10 max-w-3xl mx-auto px-8">
      <h1 class="text-zinc-950 text-left pb-2">Delete: <%- product.name %>?</h1>
      <p class="text-2xl">Category: <%= product.category_name %></p>
    </header>
    <main class="max-w-3xl mx-auto flex flex-col justify-between px-8 pb-10 gap-8">
      <p><%- product.description %></p>
      <div>
        <p class="text-3xl font-semibold text-zinc-950">$<%= product.price %></p>
        <p class="text-zinc-700 text-mobsmp lg:text-desksmp"><%= product.in_stock %> left in stock.</p>
      </div>
      <div class="flex flex-col gap-4 justify-center items-center">
        <p class="text-4xl text-zinc-950 text-center">Are you sure you want to delete this product?</p>
        <form method="POST" class="flex flex-col gap-5 justify-center items-center">
          <input type="hidden" name="productid" value="<%- locals.product.id %>">
          <div class="flex flex-col gap-2">
            <label for="password" class="font-semibold">Admin Password:</label>
            <% if (locals.passwordIncorrect) { %>
              <p class="text-red-800">Password is incorrect!</p>
            <% }%>
            <input
              type="password"
              name="password"
              id="password"
              minlength="4"
              maxlength="40"
              class="border border-zinc-950/25 text-base py-2 px-4 rounded-md">
          </div>
          <button type="submit" class="block px-6 py-2 bg-red-700 text-white rounded-md hover:scale-105">Delete Product</button>
        </form>
      </div>
    </main>
  </body>
</html>
